@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.App {
  background: linear-gradient(
    64.7deg,
    rgb(142, 209, 252) 5.24%,
    rgb(238, 238, 238) 42.01%
  );
  text-align: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.Form1>div {
  display: inline;
}

@media screen and (max-width: 480px) {
  #Delivery {
    display: none;
  }
}